<footer id="footer">
    <div class="container">
        <!-- Footer Widgets
           ============================================= -->
        <div class="footer-widgets-wrap clearfix">
            <div >
                <div class="widget clearfix">
                    <div class="row">
                        <div class="col-md-3 col-xs-12 bottommargin-sm widget_links">
                            <h5>Your Products</h5>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-xs-12 bottommargin-sm widget_links">
                            <h5>About</h5>
                            <ul>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Forums</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-xs-12 bottommargin-sm widget_links">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="#">Corporate</a></li>
                                <li><a href="#">Agency</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Personal</a></li>
                                <li><a href="#">One Page</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-xs-12 bottommargin-sm widget_links">
                            <div>
                                <h5>Sub-Col 1</h5>
                                <p>766778787</p>
                            </div>
                            <div>
                                <h5>Sub-Col 2</h5>
                                <ul>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Wedding</a></li>
                                    <li><a href="#">App Showcase</a></li>
                                    <li><a href="#">Magazine</a></li>
                                    <li><a href="#">Landing Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer-widgets-wrap end -->
        <div class="col_half">
            Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
        </div>
        <div class="col_half col_last tright">
            <div class="fright clearfix">
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                    <i class="icon-vimeo"></i>
                    <i class="icon-vimeo"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
                    <i class="icon-yahoo"></i>
                    <i class="icon-yahoo"></i>
                </a>
                <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>