<li class="mega-menu" data-sly-use.megaNav="th.co.canvas.core.models.MegaNavigationModel">
    <a href="#">
        <div>${megaNav.label}</div>
    </a>

    <div class="mega-menu-content style-2 clearfix">
        <ul class="tab" data-sly-repeat="${megaNav.tabs}">
            <li><a href="#" class="tablinks">${item.tabLabel}</a></li>
        </ul>

        <sly data-sly-repeat="${megaNav.tabs}">
            <div id="${item.tabId}" class="tabcontent"
                 data-sly-resource="${@path=item.tabId,resourceType='wcm/foundation/components/parsys'}"></div>
        </sly>
    </div>
</li>