<li class="mega-menu">
    <a href="#">
        <div>Blog</div>
    </a>
    <div class="mega-menu-content style-2 clearfix">
        <ul class="tab">
            <li><a href="javascript:void(0)" class="tablinks" onmouseover="openCity(event, 'London')" id="defaultOpen">London</a></li>
            <li><a href="javascript:void(0)" class="tablinks" onmouseover="openCity(event, 'Paris')">Paris</a></li>
            <li><a href="javascript:void(0)" class="tablinks" onmouseover="openCity(event, 'Tokyo')">Tokyo</a></li>
        </ul>
        <div id="London" class="tabcontent">
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Categories</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div><i class="icon-t-shirt"></i>Fashion</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-laptop2"></i>Technology</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-clock2"></i>Lifestyle</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-plane"></i>Travel</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-barbell"></i>Sport</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-heart3"></i>Health</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-film"></i>Videos</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Archives</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div>January 2016</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>December 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>November 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>October 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>September 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>August 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>July 2015</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li>
                    <div class="widget clearfix">
                        <h4>Recently Posted</h4>
                        <div class="ipost clearfix">
                            <div class="entry-image">
                                <a href="#"><img class="image_fade" src="../images/magazine/thumb/london-400x300.jpg" alt="Image"></a>
                            </div>
                            <div class="entry-title">
                                <h3><a href="http://themes.semicolonweb.com/html/canvas/blog-single.php">Truth About Extreme Budget Travel</a></h3>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
                                <li><i class="icon-comments"></i> 53</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="Paris" class="tabcontent">
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Categories</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div><i class="icon-t-shirt"></i>Fashion</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-laptop2"></i>Technology</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-clock2"></i>Lifestyle</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-plane"></i>Travel</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-barbell"></i>Sport</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-heart3"></i>Health</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-film"></i>Videos</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Archives</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div>January 2016</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>December 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>November 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>October 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>September 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>August 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>July 2015</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li>
                    <div class="widget clearfix">
                        <h4>Recently Posted</h4>
                        <div class="ipost clearfix">
                            <div class="entry-image">
                                <a href="#"><img class="image_fade" src="../images/magazine/thumb/paris-400x300.jpg" alt="Image"></a>
                            </div>
                            <div class="entry-title">
                                <h3><a href="http://themes.semicolonweb.com/html/canvas/blog-single.php">Truth About Extreme Budget Travel</a></h3>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
                                <li><i class="icon-comments"></i> 53</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="Tokyo" class="tabcontent">
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Categories</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div><i class="icon-t-shirt"></i>Fashion</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-laptop2"></i>Technology</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-clock2"></i>Lifestyle</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-plane"></i>Travel</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-barbell"></i>Sport</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-heart3"></i>Health</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icon-film"></i>Videos</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li class="mega-menu-title">
                    <a href="#">
                        <div>Archives</div>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <div>January 2016</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>December 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>November 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>October 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>September 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>August 2015</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>July 2015</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="mega-menu-column col-md-4">
                <li>
                    <div class="widget clearfix">
                        <h4>Recently Posted</h4>
                        <div class="ipost clearfix">
                            <div class="entry-image">
                                <a href="#"><img class="image_fade" src="../images/magazine/thumb/tokyo-400x300.jpg" alt="Image"></a>
                            </div>
                            <div class="entry-title">
                                <h3><a href="http://themes.semicolonweb.com/html/canvas/blog-single.php">Truth About Extreme Budget Travel</a></h3>
                            </div>
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> 13th Jun 2014</li>
                                <li><i class="icon-comments"></i> 53</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script>
            function openCity(evt, cityName) {

                console.log('test');
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
    </div>
</li>