<header id="header" class="sticky-header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <!-- Logo
               ============================================= -->
            <sly data-sly-resource="${'logo' @ path='logo', resourceType='canvas/components/structure/logo'}"/>
            <!--<sly data-sly-resource="${ @path=logo}"></sly>-->
            <!-- #logo end -->

            <!-- Primary Navigation
               ============================================= -->
            <sly data-sly-resource="${'mainNav' @ path='mainNav', resourceType='canvas/components/structure/mainNavigation'}"/>
            <!-- #primary-menu end -->
        </div>
    </div>
</header>